.loginFormContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accountText {
  color: #848c9c;
}

.hasAccountSetter {
  color: #f1c40f;
}

.hasAccountSetter:hover {
  cursor: pointer;
}

.errorMsg {
  color: #e74c3c;
  width: 300px;
  margin-top: 50px;
  text-align: center;
}
