.navBarContainer {
  position: absolute;
  top: 4.5vh;
  width: 100%;
  display: flex;
}

.navBarInstructions {
  color: #848c9c;
  position: relative;
  top: -50px;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 7vh;
}

.weatherTilesContainer {
  position: absolute;
  width: 70%;
  top: 30vh;
}
