.searchBarContainer {
  top: 5vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  width: 580px;
  height: 20%;
  justify-content: space-between;
  align-items: center;
}

.button {
  align-self: center;
  outline: none;
  font-size: 16px;
  width: 150px;
  height: 40px;
  padding: 5px;
  border: 1px solid #2980b9;
  cursor: pointer;
  border-radius: 5px;
  color: #2980b9;
  background-color: white;
}

.button:hover {
  border: 2px solid #2980b9;
  cursor: pointer;
  background-color: #2980b9;
  color: white;
}
