.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBarContainer {
  position: absolute;
  top: 5vh;
}

.weatherTilesContainer {
  margin-top: 25vh;
  width: 70%;
}
