.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #17202a;
}

.navBarContainer {
  position: absolute;
  top: 2vh;
  width: 100%;
  display: flex;
}

.searchBarContainer {
  position: absolute;
  top: 7vh;
}

.weatherTilesContainer {
  position: absolute;
  width: 70%;
  top: 30vh;
}
